<div style="margin: 10px 10px">
  <table class="table">
    <caption>List of room types</caption>
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Capacity</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let roomType of pagedItems">
        <!-- <th scope="row">roomType.type</th> -->
        <td>{{roomType.type}}</td>
        <td>{{roomType.capacity}}</td>
        <td>{{roomType.description}}</td>
      </tr>
    </tbody>
  </table>
  
  <nav *ngIf="pager.totalPages > 1">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous" (click)="setPage(pager.currentPage - 1)">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of pager.pages" [class.active]="page == pager.currentPage">
        <a class="page-link" (click)="setPage(page)">
          {{page}}
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" aria-label="Next" (click)="setPage(pager.currentPage + 1)">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="page-item ml-auto">
          <select class="form-control" [(ngModel)]='pager.pageSize' (ngModelChange)="onModelChange($event)">
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
      </li>
    </ul>
    
  </nav>
</div>
