<div class="container-fluid pt-2 pb-2">
  <div class="row">
    <div class=col>
      <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="input-group mr-2">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">@</div>
          </div>
          <input type="text" class="form-control" placeholder="Input group example">
        </div>
        <div class="btn-group btn-group-toggle mr-2" role="group">
          <button type="button" class="btn btn-secondary">Week</button>
          <button type="button" class="btn btn-secondary">Month</button>
        </div>
      </div>
    </div>
  </div>
</div>
  